body {
	width: 100%;
	height: 100%;
	margin: 0;
}
header {
	width: 80%;
	height: 60px;
	padding-left: 10%;
	padding-right: 10%;
	color: #ffffff;
    background-color: #ec6b01;
}
main {
	width: 80%;	
    margin-left: auto;
    margin-right: auto;

}
footer {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	position:absolute;
	bottom: 0px;
    color: #ffffff;
    background-color: #1c2228;
}		
a {
	text-decoration: none;
	color: inherit;
}
.header-tag {
	height: 40px; 
	width: 60px;	
	margin: 4;
	padding: 0;
}
@media screen and (max-width: 600px) {
	main {
		width: 95%;
	}
	header {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}